.input_box{
    margin-right: 10px;
    border-radius: 1px;
    background-color:rgba(229, 233, 237, 0.201);
 
}

.input_label{
        margin-right: 5px;
        border-radius: 1px;
        color:black;
}

.add_song_btn{
    border-radius: 1px;
    background-color:rgba(202, 204, 206, 0.768);
}
