.modal {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
  
  .modal-container {
    width: 1500px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modal-title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .title-CloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .title-CloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  

  

  